::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-surface {
    border-radius: 16px !important;
    background-color: #ffffff !important;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1) !important;
}

mat-dialog-content {
    font-size: 16px;
    padding-bottom: 20px;
}

mat-dialog-actions {
    gap: 8px;
}