:host {
    display: block;
    background-color: white;
    border-radius: 4px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

    h2[mat-dialog-title] {
        margin: 0;
        text-align: left;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

mat-dialog-content {
    min-width: 300px;
    padding-top: 20px !important;
}